@font-face{
  font-family:'JohnnyTorch';
  src: url("./fonts/johnnytorch.ttf") format('truetype');
}
@font-face{
  font-family:'JohnnyTorchNoFill';
  src: url("./fonts/johnnytorch3dital.ttf") format('truetype');
}

@font-face{
  font-family:'Blocker';
  src:url(./fonts/Blocker.otf)
}


@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 3s step-start 0s infinite;
  -webkit-animation: blink 3s step-start 0s infinite;
}


html{
  font-size:15px;
}
fieldset{
  border:none;
}
body{
  width:100%;
}
header,footer{
  margin:0;
}
h2{
  margin:none;
}


/* CONTAINERS */

.app{
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  font-family: 'Blocker';
  width:100%;
  overflow:hidden;
}







/* TITLE */



.switchButton{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
  z-index:2;
}

.switchButton__button{
  text-transform:uppercase;
  cursor: pointer;
  font-size:3.2rem;
  font-family:inherit;
  border: black solid 4px;
  background:white;
  padding:8px;
  color:black;
  border-radius:10px;
  z-index:3;
  margin-bottom:10px;
}
.switchButton__button:hover{
  transition-duration:0.4s;
  background:gold;
 color:black;

}

/*  */
/*  */
.bannerad{
  width:100%;
  margin:10px 0px 10px 0px;
  flex:0 1 100%;
}
.bannerad:hover{
  cursor:pointer;
}
.bannerad__image{
  height:100%;
  width:100%;
}

/* GUYNEWS COMPONENT */
/* Guy News */
.guyNews{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  width:100vw;
}
.guyNews:hover{
  overflow:scroll;
}
.guyNews__body{
  width:100%;
  display:flex;

}
.guyNews__button{
  background: white;
  padding: 0px; 
  margin:0;
  color:black;
  font-size: 4.5rem;
  width:60px;
  cursor: pointer;
  border:2px solid red;
  height:100%;
}
.guyNews__article{
  box-sizing:content-box;
  display: flex;
  overflow: scroll;
  align-items: stretch;
  padding:2px;
  font-size:4rem;
  flex-grow:1;
}
.guyNews__card{
  min-width:30%;
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:3px 30px;
  padding:0;
  border-bottom:lightgrey solid 3px;
}
.guyNews__card:hover{
  cursor: pointer;
}
.guyNews__title{
  font-size:6.2rem;
  font-weight:2.6rem;
  text-transform: uppercase;
  fill:lightcoral;
  font-weight:bolder;
  font-family: 'JohnnyTorchNoFill';
  margin:0px 0px 30px 0px;
  flex-basis:100%;
  text-align:center;
}
.guyNews__cardTitle{
  text-transform:uppercase;
  font-weight:bolder;
  text-decoration:none;
  color:black;
  flex-basis: 1;
  letter-spacing: 2px;
  text-align:center;
}
.guyNews__cardImage{
  display:block;
  margin:5px auto;
  width:100%;
  height:200px;
}

.guyNews__cardTitle:hover{
  color:darkblue;
  text-decoration: underline;
}

.guyNews__cardAuthor{
  color:darkred;
  font-weight:bolder;
  text-transform:uppercase;
  font-family:inherit;
  text-align: center;
  font-style:italic;
  font-size:3.5rem;
  margin:3px 0px;
}



/* HIGHEST */
.list{
  box-sizing:border-box;
  padding:2px;
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100%;
  width:905;
  flex:1 0 50%;
}

.list__header{
  font-size:3.5rem;
  font-weight:2.6rem;
  text-transform: uppercase;
  font-weight:bolder;
  font-family: 'JohnnyTorchNoFill';
  margin:0;
  text-align:center;
}
.list__link{
  font-size:2.5rem;
  text-decoration:none;
  color:black;
}

.list__list{
  box-sizing: border-box;
  justify-content: center;
}

.list__link:hover{
  text-decoration:underline;
  color:darkblue;
  cursor: pointer;
}


.placeholder{
  flex:1 0;
  border:dashed orange 3px;
}
.placeholder__list{
  font-size:1.6rem;
}
.placeholder__link{
  font-size:1.6rem;
}
.random{
  font-size:15px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: flex-start;
  width:100%;
  flex-wrap:wrap;
  
}
.ingredients__title,.instructions__title{
  font-family: 'JohnnyTorch';
  font-size:2.3rem;
  font-weight:bolder;
  letter-spacing: 4px;
  color:gold;
  -webkit-text-stroke: 1.5rem black;
  margin:0;
}


.random__recipe{
  text-transform: uppercase;
  text-align: center;
  flex:1 0 100%;
  text-decoration:none;
  font-family: 'JohnnyTorch';
  font-size:4.0rem;
  font-weight:bolder;
  letter-spacing: 2px;
  color:gold;
  -webkit-text-stroke: 1.0rem black;
  margin:20px 0px 20px 0px;
}
.random__image{
  max-height:300px;
  max-width:550px;
  flex: 1 0 40%;
  align-self: center;
  border: 3px gold solid;
}
.instructions{
  font-size:1.2rem;
  flex:1 1 90%;
  text-align: left;
  padding:10px;
}
.instructions__item{
  font-size:1.3rem;
}
.ingredients{
  font-size:1.2rem;
  flex:1 1 50%;
  text-align: center;
  min-height: 300px;
}

.ingredients__list{
  list-style: none;
  padding:10px;
  font-size: .9rem;
  column-count: 2;
}
.ingredients__item{
  margin-top:5px;
  margin-bottom :5px;
  font-size:1rem;
  padding-top:1px;
  padding-bottom:1px;
  width:80%;
}


.main{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:100%;
  justify-content: center;
}
.footer{
  width:100%;
  background:gold;
  color:black;
  -webkit-text-stroke:  .05rem black;
  display:flex; 
  justify-content: center;
  align-items:center;
  padding:2px;
}
.footer__title{
  font-size:4.5rem;
  letter-spacing:1rem;
  color:white;
  -webkit-text-stroke: .05em black;
  font-family:'johnnytorch'
}

@media(min-width:1100px){
  html{
    font-size:10px;
 
  }
  .news{
    font-size:1.4rem;
  }
  .searchbar__resultList{
    max-height:35vh;
  }
  
  .list{
    flex:1 0;
  }
  .bannerad{
    flex-basis:100%;
    height:250px;
    max-height:425px;
    margin-bottom:40px;
    text-align:center;
  }
  .bannerad__image{
    width:70%;
    border:5px black solid;
  }
  .list__link{
    font-size:24px;
  }
}


@media(max-width:1099px){
  html{
    font-size:8px;
  }
  .header__title{
    letter-spacing: 25px;
  }
  .guyNews__article{
    flex-direction:column;
    align-items: center;
    max-height:300px;
    width:100%;
  }
  .guyNews__card{
    min-width:40%;
    max-width:75%;
    flex:2 1 100%;
  }

  .news{
    font-size:1.5rem;
  }
.news__image{
  width: 400px;
  height: 200px;
  }
  .bannerad{
    height:30vh;
  }
  .ingredients{
    font-size:1.3rem;
    font-style:none;
    letter-spacing: 1px;
  }
  .instructions{
    font-size:1.2rem;
    flex-basis:100%;

  }
  .random__image{
    width:60vw;
  }
  .list__header{
    font-size:36px;
  }
  .list__link{
    font-size:20px;
  }
}

@media (max-width:599px){
  html{
    font-size:6px;
  }
  .header__title{
    letter-spacing: 15px;
  }
  .searchbar__resultList{
    margin:0;
    
  }
  
  .guyNews__article{
    width:100%;
  }
  .main{
   justify-content: center;

  }
  .bannerad{
    flex-basis:100%;
    height:20vh;
  }


  .random{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:11px;
  }
  .random__image{
    width:80vw;
  }
  .random__recipe{
    stroke: black;
  }
  .instructions{
    flex:1 0 100%;
  }
  .ingredients{
    flex:1 0 100%;
  
  }
  .list{
    flex-basis: 100%;
  }

}
@media(max-width:324px){
  .news{
    width:80%;
  }
  .news__image{
    width:200px;
    height:100px;
  }
  .guyNews__article{
    width:100%;
  }
}

