@font-face{
  font-family:'JohnnyTorch';
  src: url("./fonts/johnnytorch.ttf") format('truetype');
}
@font-face{
  font-family:'JohnnyTorchNoFill';
  src: url("./fonts/johnnytorch3dital.ttf") format('truetype');
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 3s step-start 0s infinite;
  -webkit-animation: blink 3s step-start 0s infinite;
}


html{
  font-size:15px;
}
fieldset{
  border:none;
}
body{
  padding:2%;
  width:100%;
}
header,footer{
  margin:0;
}


/* CONTAINERS */

.app{
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  font-family: 'Concert One';
  width:100%;
  overflow:hidden;
}

.header{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
}
.main{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:100%;
}
.footer{
  width:100%;

  color:black;
  -webkit-text-stroke: .05em;
  display:flex; 
  justify-content: center;
  align-items:center;
  padding:2px;
}

/* TITLE */

.title{
  font-family: 'JohnnyTorch';
  font-size:4.5em;
  font-weight:bolder;
  letter-spacing: 4px;
  color:darkred;
  -webkit-text-stroke: .05em gold;
  margin:20px 0px 40px 0px;
}
/* SEARCHBAR  */
.searchbar{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  min-height:70px;
}
.searchbar__form{
  display:flex;
  justify-content: center;
  width: 85vw;
  max-width:85%;
  font-size:1em;
}


.searchbar__input{
  border:3px solid black; 
  font-family: "Concert One";
  font-size:1.3em;
  text-transform:uppercase;
  border-radius:.25em;
  flex-grow:1;
  padding:3px;
}

.searchbar__resultList{
  list-style: none;
  margin-top:60px;
  padding:0;
  position:absolute;
  width:90%;
  max-height:15vh;
  overflow:scroll;
  padding: 3px 0px 3px 0px;
  font-size:1em;
}
.searchbar__resultItem{
  font-size:1.4em;
  background:white;
  text-transform:capitalize;
  font-family: "Concert One";
  text-decoration:none;
  color:black;
  letter-spacing: 3px;
  text-align: center;
  padding:3px;
}

.searchbar__resultItem:hover{
 cursor:pointer;
 color:gold;
}

.searchbar__button{
  padding:0px;
  border:none;
  background:none;
  flex-grow:0;
}
.searchbar__icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  flex-grow:0;
}

.bannerad{
  width:100%;
  margin:10px 0px 10px 0px;
  flex:0 1 100%;
}
.bannerad__image{
  height:100%;
  width:100%;
}


/* NEWS COMPONENT */
.news{
  box-sizing:content-box;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  padding:2px;
  order:0;
  flex: 1 0 100%;
  max-width:600px;
  font-size:1.4em;
}
.news__item{
  width: 85%;
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:.5em;
  font-size:1em;
}
.news__type{
  font-size:3.0em;
  font-weight:2.6em;
  text-transform: uppercase;
  border-bottom:3px black solid;
  font-weight:bolder;
  font-family: 'JohnnyTorchNoFill';
  margin:0;
}
.news__title{
  text-transform:uppercase;
  font-weight:bolder;
  font-size:1.6em;
  text-decoration:none;
  color:black;
  flex-basis: 1;
  letter-spacing: 2px;
  text-align:center;
}
.news__image{
  display:block;
  margin:5px auto;
  width:425px;
  height:200px;
}

.news__title:hover{
  color:darkblue;
  text-decoration: underline;
}

.news__description{
  font-size:1.2em;
  font-family:'Concert One';
  box-sizing:border-box;
  width:100%;
  margin:5px auto;
}
.news__author{
  color:darkred;
  font-weight:bolder;
  font-size:1.3em;
  text-transform:uppercase;
  font-family:"Concert One";
  text-align: center;
}

/* HIGHEST */
.list{
  box-sizing:border-box;
  padding:2px;
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100%;
  width:905;
  flex:1 0 50%;
}

.list__header{
  font-size:2.0rem;
  font-weight:2.6rem;
  text-transform: uppercase;
  font-weight:bolder;
  font-family: 'JohnnyTorchNoFill';
  margin:0;
  border-bottom:3px black solid;
  text-align:center;
}
.list__link{
  font-size:1.2rem;
  text-decoration:none;
  color:black;
}

.list__list{
  box-sizing: border-box;
  justify-content: center;
}

.list__link:hover{
  text-decoration:underline;
  color:darkblue;
  cursor: pointer;
}
.switchButton{
  display:flex;
  justify-content: center;
  align-items: center;
}

.switchButton__button{
  text-transform:uppercase;
  cursor: pointer;
  font-size:1.2rem;
  font-family:"Concert One";
  border: black solid 4px;
  background:white;
  padding:8px;
  color:black;
  border-radius:10px;
}
.switchButton__button:hover{
  transition-duration:0.4s;
  background:gold;
 color:black;

}

.placeholder{
  flex:1 0;
  border:dashed orange 3px;
}
.placeholder__list{
  font-size:1.6rem;
}
.placeholder__link{
  font-size:1.6rem;
}
.random{
  font-size:15px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: flex-start;
  width:100%;
  flex-wrap:wrap;
  
}
.random__title{
  font-family: 'JohnnyTorch';
  font-size:2.3em;
  font-weight:bolder;
  letter-spacing: 4px;
  color:gold;
  -webkit-text-stroke: 1.5px black;
}


.random__recipe{
  text-transform: uppercase;
  text-align: center;
  flex:1 0 100%;
  text-decoration:none;
  font-family: 'JohnnyTorch';
  font-size:4.0em;
  font-weight:bolder;
  letter-spacing: 2px;
  color:gold;
  -webkit-text-stroke: .03em black;
  margin:20px 0px 20px 0px;
}
.random__image{
  max-height:300px;
  max-width:550px;
  flex: 1 0 40%;
  align-self: center;
  border: 3px gold solid;
}
.instructions{
  font-size:1.4em;
  flex:1 1 90%;
  text-align: left;
  padding:10px;
}
.instructions__item{
  font-size:1.3em;
}
.ingredients{
  font-size:1.4em;
  flex:1 1 50%;
  text-align: center;
  min-height: 300px;
}
.ingredients__list{
  list-style: none;
  padding:10px;
  font-size: 1em;
  column-count: 2;
}
.ingredients__item{
  margin-top:5px;
  margin-bottom :5px;
  font-size:1em;
  padding-top:1px;
  padding-bottom:1px;
}

@media(min-width:1100px){
  .news{
    font-size:1.4em;
  }
  .searchbar{
    font-size:40px;
  }
  .searchbar__resultList{
    max-height:35vh;
  }
  
  .list{
    flex:1 0;
  }
  .bannerad{
    flex-basis:100%;
    height:250px;
    max-height:425px;
    margin-bottom:40px;
    text-align:center;
  }
  .bannerad__image{
    width:70%;
    border:5px black solid;
  }
  .list__link{
    font-size:24px;
  }
}


@media(max-width:850px){
  .news{
    font-size:20px;
  }
.news__image{
  width: 400px;
  height: 200px;
  }
  .bannerad{
    height:30vh;
  }
  .ingredients{
    font-size:1.3em;
    font-style:none;
    letter-spacing: 1px;
  }
  .instructions{
    font-size:1.2em;
    flex-basis:100%;

  }
  .random__image{
    width:60vw;
  }
}

@media (max-width:599px){
  .app{
    padding:0px 5px 0px 5px;
  }

  .main{
   justify-content: center;

  }
  .bannerad{
    flex-basis:100%;
    height:20vh;
  }
  
  .title{
    font-size:3.4rem;
    margin-bottom:4vh;
    letter-spacing: 5px;
  }
  .news{
    font-size:18px;
  }
  .random{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:11px;
  }
  .random__image{
    width:80vw;
  }
  .random__recipe{
    font-size:2.9em;
    stroke: black;
  }
  .instructions{
    flex:1 0 100%;
  }
  .ingredients{
    flex:1 0 100%;
  
  }
  .list{
    flex-basis: 100%;
  }

}
@media(max-width:324px){
  .news{
    font-size:10px;
    width:80%;
  }
  .news__image{
    width:200px;
    height:100px;
  }
}

